
   <section class="header" id="header">
    <div class="logo">
        <img src="assets/images/logo1.jpg">
      
        

    </div>
    <div class="navbar">
        <ul>
            <li><a href="#home">Home</a></li>
            

            <li><a href="#">Shope</a>
            </li>

            
            <li><a href="#project">Store</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#contact">Contact Us</a></li>

        </ul>
    </div>

    <div class="header-icons">
        <button class="btn btn-primary" routerLink="/loginpage">Login</button>
        <a href="https://t.me/Get50lu"><i class="fa-brands fa-telegram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
       

    </div>
    <div class="menu-icon">
         <a href="#" id="menu-icon"><i class="fa-solid fa-bars"></i></a>
    </div>

   </section>

   <section class="home" id="home">
    <div class="home-header">
        <h2>Please <span> O</span>rder <span> ይዘዙን!!!</span></h2>
        <p>This is our computer and laptop shoping center. if you want to any computer and laptop please order.</p>
        
      

    </div>  

    <div class="home-img">
        <img src="assets/images/4.jpg">
    </div>

   </section>

   <!-- skill protion -->

   
    <div class="container">
  
        <div class="row">
        
            <div class="card col-md-3">
                <img src="assets/images/11.jpg">
                <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Hp Computer</h5>
                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">ram 16 1 tera</p>
                <p><strong>Price:</strong>4000</p>
                <button class="btn btn-primary">Add To Cart</button>
    
            </div>

            <div class="row">
        
                <div class="card col-md-3">
                    <img src="assets/images/11.jpg">
                    <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Hp Computer</h5>
                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">ram 16 1 tera</p>
                    <p><strong>Price:</strong>4000</p>
                    <button class="btn btn-primary">Add To Cart</button>
        
                </div>
      
                <div class="row">
        
                    <div class="card col-md-3">
                        <img src="assets/images/11.jpg">
                        <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Hp Computer</h5>
                        <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">ram 16 1 tera</p>
                        <p><strong>Price:</strong>4000</p>
                        <button class="btn btn-primary">Add To Cart</button>
            
                    </div>
      
                    <div class="row">
        
                        <div class="card col-md-3">
                            <img src="assets/images/11.jpg">
                            <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">Hp Computer</h5>
                            <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">ram 16 1 tera</p>
                            <p><strong>Price:</strong>4000</p>
                            <button class="btn btn-primary">Add To Cart</button>
                
                        </div>


                  
      
    
        </div>
    
    </div>

   


    <div class="sosial">
        <h2>Our Addiress</h2>
        <ul>
            <li><a href="https://t.me/Get50lu"><i class="fa-brands fa-telegram"></i></a></li>
            <li> <a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            <li> <a href="#"><i class="fa-brands fa-github"></i></a></li>
            <li> <a href="#"><i class="fa-solid fa-envelope"></i></a></li>
        </ul>
    </div>

    
<div class="copy-right">© GETS SoftwareSolition Company Co. All rights reserved.</div>
   




   




